include *.txt
exclude *.yml
exclude *.yaml
include LICENSE
recursive-include *.py
recursive-include docs *.md
recursive-include docs *.png
recursive-exclude notebooks *.ipynb
recursive-include perceiver *.yaml

prune .github
prune .cache
